@font-face {
    font-family: 'caveatregular';
    src: url('caveat-variablefont_wght-webfont.woff2') format('woff2'),
         url('caveat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#opbg {
    background-color: rgba(255,255,255,.25)
}

.bi {
    filter: invert(93%) sepia(58%) saturate(2%) hue-rotate(206deg) brightness(110%) contrast(101%);
}

#name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#job-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bi {
    height: 5vh;
}

#header {
    background-color: #1E2D40;
}

#hero {
    background-color: #c2dfea;
}

h1 {
    font-family: 'caveatregular';
}